<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <appender name="Stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-30(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.wicket.RequestCycle" level="INFO"/>
    <logger name="org.apache.wicket.version" level="INFO"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.apache.wicket.protocol.http.HttpSessionStore" level="INFO"/>
    <logger name="org.apache.wicket" level="INFO"/>
    <logger name="br.com.digilabs" level="DEBUG"/>
    <root level="DEBUG">
        <appender-ref ref="Stdout"/>
    </root>
</configuration>